.profile__about {
    font-size: 18px;

    max-width: calc(100% - 20px);

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    line-height: 22px;

    padding: 0;
    margin: 0;
}

@media (max-width: 1000px) {
    .profile__about {
        font-size: 14px;
        line-height: 17px;
    }
}