.popup__submit-button {
    width: 100%;

    background-color: black;

    font-size: 18px;
    color: white;

    padding: 13px 0;

    border: none;
    outline: none;

    cursor: pointer;

    transition: opacity .1s;
}

.popup__submit-button:hover {
    opacity: .8;
}