.profile__info-wrapper {
    box-sizing: border-box;
    
    max-width: 100%;

    display: flex;
    align-items: center;
    /* flex-direction: column; */

    gap: 30px;
}

@media (max-width: 500px) {
    .profile__info-wrapper {
        flex-direction: column;
    }
}